nav {
    ul {
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    img {
        width: 160px;
    }

    a {
        color: var(--headline);
        transition: all 0.3s;
        text-transform: uppercase;

        &:hover {
            color: var(--headline-light)
        }
    }
}

.themeChanger {
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        transform: scale(1.5);
    }
}