nav {
    ul {
        height: 12vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    img {
        width: 125px;
        cursor: pointer;
    }

    li {
        a {
            color: var(--headline);
            transition: all 0.3s;
            text-transform: uppercase;
            font-size: 15px;
    
            &:hover {
                color: var(--headline-light);
               
            }
        }

        &:hover {
            animation: scale 1s;
        }

    }

    @keyframes scale {
        0% {transform: scale(1.5);}
    100% {transform: scale(1)}
    }
}

.themeChanger {
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        transform: scale(1.5);
    }
}