//RESET
* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

//PALETTE
:root {
    --background: black; 
    --background-light: whitesmoke; 
    --paragraph: white;
    --paragraph-light: black;
    --headline: #DB202C; 
    --headline-light: #DB202C;
}